.friends-container {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
}

.friend-card-container {
    border-radius: 10px;
    margin: 10px 0;
    padding: 20px 0;
    box-shadow: 0 0 1pt 0;

    // Expand the grid slightly so the image takes up <50% of the grid;
    // render based on whether grid is reversed
    & .grid-tablet-2 {
        grid-template-columns: 1fr 1.5fr;
        margin: 0 0 20px;
    }

    & .grid-tablet-2:has(div.grid-tablet-2-reverse) {
        grid-template-columns: 1.5fr 1fr;
    }
}

.friend-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: bottom;
    height: 100%;
    padding: 0 10px;

    div {
        display: block !important;
    }

    img {
        object-fit: scale-down;
        box-shadow: none !important;
    }
}

.friend-links-container {
    margin-top: 10px;
    & .icon-link {
        font-size: 2rem;
        margin: 0 3px;

        :hover {
            color: black;
        }
    }
}

.projects-container {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10px;
    text-align: center;

    a,
    a:visited {
        text-decoration: none;
        color: inherit;
    }
}

.project-card-container {
    flex: 0 0 100%;
    margin: 0 auto;
    border-radius: 5px;
    border: 1px dotted gray;
    margin-block-end: 10px;

    &:hover {
        background-image: linear-gradient(to bottom right, #f9f9f9, #f1f1f1);
    }

    @media (min-width: 688px) {
        flex: 0 0 48%;
        margin-block-end: 0;
    }

    & .project-card-contents {
        padding: 10px;
    }
}

.project-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: bottom;
    height: 80%;

    & .project-image {
        border-radius: 2%;
        object-fit: scale-down;
    }
}

.content-divider {
    border: 1px solid gray;
    opacity: 30%;
    margin: 0 10px;
}
